/* #region  H E A D E R */
/* <copyright file="App.css" company="MicroCODE Incorporated">Copyright © 2022 MicroCODE Incorporated Troy, MI</copyright><author>Timothy J. McGuire</author> */
/* #region  P R E A M B L E */
/* #region  D O C U M E N T A T I O N */
/*
 *      Title:    MicroCODE App CSS
 *      Module:   Styles (MicroCODE:App.css)
 *      Project: MicroCODE 3-Tier MERN Template 'AppName'
 *      Customer: Internal+MIT xPRO Course
 *      Creator:  MicroCODE Incorporated
 *      Date:     March 2022
 *      Author:   Timothy J McGuire
 *
 *      Designed and Coded: 2022 MicroCODE Incorporated
 *
 *      This software and related materials are the property of
 *      MicroCODE Incorporated and contain confidential and proprietary
 *      information. This software and related materials shall not be
 *      duplicated, disclosed to others, or used in any way without the
 *      written of MicroCODE Incorported.
 *
 *
 *      DESCRIPTION:
 *      ------------
 *
 *      This module implements the Cascading Style Sheet (CSS) for the App of our 'AppName' template.
 *
 *
 *      REFERENCES:
 *      -----------
 *
 *      1. MIT xPRO CSS Style Guide
 *         https://student.emeritus.org/courses/3291/files/2554233/download?wrap=1
 *
 *      2. AirBnB CSS Style Guide
 *         https://github.com/airbnb/css
 *
 *      3. Google HTML/CSS Style Guide
 *         https://google.github.io/styleguide/htmlcssguide.html
 *
 *      4. MicroCODE HTML-CSS Style Guide
 *         Local File: MCX-S03 (Internal HHTML-CSS Style Guide).docx
 *         https://github.com/MicroCODEIncorporated/HTML-CSS-SG
 *
 *
 *      DEMONSTRATION VIDEOS:
 *      --------------------
 *
 *      1. ...
 *
 *
 *
 *      MODIFICATIONS:
 *      --------------
 *
 *  Date:         By-Group:   Rev:     Description:
 *
 *  07-Mar-2022   TJM-MCODE  {0001}    New module for common reusable Cascading Style Sheet (CSS) files.
 *
 *
 */

/* #endregion */
/* #endregion */
/* #endregion */

/* #region  C S S */
/* #region  S T Y L E S */

/* #region  I D  -- highest priority, references <... id="id-name" ...> - a specific instance of an element */

#id-name {

    font-family: 'Libre Franklin', sans-serif;
}

/* #endregion */

/* #region  C L A S S -- lower priority, references <... class="class-name" - a defined type of element */

.class-name {

    font-family: 'Libre Franklin', sans-serif;
}

.App {
    text-align: center;
    width: auto;
    background-color: #282c34;
    min-height: 100vh;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    /* min-height: 100vh; */
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-body {
    width: auto;
    margin: 20px;
}

.App-buttons {
    justify-content: space-around;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* #endregion */

/* #region  T A G -- lowest priority, references <tag-name> - an HTML Tag */

tagName {

    font-family: 'Michroma', sans-serif;
}

/* #endregion */

/* #endregion */
/* #endregion */